body {
    font-family: 'Pixelify Sans', Courier, monospace;
    text-align: center;
    background-color: grey;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Hide overflow to prevent scrolling */
    animation: moveBackground 10s linear infinite;
    background: linear-gradient(to right, #ff0000, #0000ff);
}

#board {
    background-image: url("flappybirdbg.png");
    border: 20px solid #378089;
    border-radius: 10px;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0; /* Start position */
    }
    100% {
        background-position: 100% 0; /* End position */
    }
}
h1{
    background-color:white;
    border: 6px solid black;
    border-radius: 10px;
}
h2{
    
    background-color:white;
    border: 6px solid black;
    border-radius: 10px;
}

